<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<style type="text/css">
		.bottom{
			height: 200px;
			width: 100%;
			margin-top:40px; 
			/*background: #fff;*/
			border-top: 1px solid rgba(204, 204, 204, 0.3);
			box-shadow: 2px 2px 15px rgba(204, 204, 204, 0.35);		
		}
		.b_btn{
			margin: 0px auto;
			height: 200px;
			width: 1080px;
			/*border: 1px solid black;*/

		}
		.b_btn li{
			float: left;
			width: 269px;
			height: 150px;
			list-style: none;
			border-right: 1px solid rgba(204, 204, 204, 0.7);
		}
	</style>
</head>
<body>
	<div class="bottom">	
		<div class="b_btn">			
				<li></li>
				<li></li>
				<li></li>
				<li></li>
		</div>
	</div>
</body>
</html>